fastapi
uvicorn
pydantic
pytest
pydantic[email]
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
PyJWT
xlsxwriter
pandas
python-multipart
python-dotenv
openai==1.12.0
pymysql
cryptography  
httpx==0.23.0
